* {
    margin: 0px;
    padding: 0px;
}

body {
    background-image: url(https://cdn.freecodecamp.org/curriculum/css-cafe/beans.jpg);
    font-family: cursive;
    padding: 5px;
}

header {
    width: 93vw;
    padding: 10px;
    background-color: blanchedalmond;
    border-radius: 10px;
    margin-top: 5px;
    justify-content: right ;
}

.menu {
    width: 80vw;
    padding: 0 auto;
}

.name {
    padding: 8px;
    text-align: center;
    display: inline-block;
    flex-direction: row;
    justify-content: space-between;
    margin: 15px;
}

.card1, .card2 {
    padding: 1%;
    margin: 5px;
    position: relative;
    border-radius: 10px;
    width: 92vw;
    background-color: burlywood;
    font-family: sans-serif;
    text-align: center;
    justify-content: right;
    object-fit: cover;
}

.card1 > img {
    width: 70vw;
}

@media (min-width: 992px) {

    header {
        width: 98vw;
    }


    .card1, .card2 {
        width: 50vw;
        margin: 0 auto;
        margin-top: 10px;
    }

    .card1 > img {
        width: 40vw;
    }
}